<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Cadastro</title>
	</head>
	<body>
		<h1>Atualizar Cliente</h1>
		<hr>
		<form method="POST" action="">
			<table>
					<tr>
						<td>Nome:</td>
						<td><input type="text" name="nome" value="{{ pessoa.nome }}"></td>
					</tr>
					<tr>
						<td>Rua:</td>
						<td><input type="text" name="rua" value="{{ pessoa.rua }}"></td>
					</tr>
					<tr>
						<td>Número:</td>
						<td><input type="text" name="numero" value="{{ pessoa.numero }}"></td>
					</tr>
					<tr>
						<td>Bairro:</td>
						<td><input type="text" name="bairro" value="{{ pessoa.bairro }}"></td>
					</tr>
					<tr>
						<td>Cidade:</td>
						<td><input type="text" name="cidade" value="{{ pessoa.cidade }}"></td>
					</tr>
					<tr>
						<td>Estado:</td>
						<td><input type="text" name="estado" value="{{ pessoa.estado }}"></td>
					</tr>
					<tr>
						<td>Telefone:</td>
						<td><input type="text" name="fone" value="{{ pessoa.fone }}"></td>
					</tr>
					<tr>
						<td>E-mail:</td>
						<td><input type="text" name="email" value="{{ pessoa.email }}"></td>
					</tr>
				</table>
				<input type="submit" value="Atualizar">
				<a href="{{ url_for('lista') }}"><input type="button" value="Voltar"></a>
		</form>
	</body>
</html>