<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Cadastro</title>
	</head>
	<body>
		<h1>Cadastrar Cliente</h1>
		<hr>
		<form action="{{ url_for('cadastro') }}" method="POST">
			<table>
					<tr>
						<td>Nome:</td>
						<td><input type="text" name="nome"></td>
					</tr>
					<tr>
						<td>Rua:</td>
						<td><input type="text" name="rua"></td>
					</tr>
					<tr>
						<td>Número:</td>
						<td><input type="text" name="numero"></td>
					</tr>
					<tr>
						<td>Bairro:</td>
						<td><input type="text" name="bairro"></td>
					</tr>
					<tr>
						<td>Cidade:</td>
						<td><input type="text" name="cidade"></td>
					</tr>
					<tr>
						<td>Estado:</td>
						<td><input type="text" name="estado"></td>
					</tr>
					<tr>
						<td>Telefone:</td>
						<td><input type="text" name="fone"></td>
					</tr>
					<tr>
						<td>CPF:</td>
						<td><input type="text" name="cpf"></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input type="text" name="email"></td>
					</tr>
				</table>
				<input type="submit" value="Salvar Cadastro"/>
				<a href="{{ url_for('home') }}"><input type="button" value="Voltar"></a>
		</form>
	</body>
</html>