{% extends "base.html" %}


{% block content %}
    <div class="container-center">
        <div class="page-header">
            <h1>Tela Inicial</h1>
        </div>
        <div class="button-group">
            <a href="{{ url_for('home.cadastrar') }}"><input type="button" class="btn btn-primary btn-lg" value="Cadastro de Clientes"></a>

            <a href="{{ url_for('home.lista') }}"><input type="button" class="btn btn-primary btn-lg" value="Lista de Clientes"></a>	
        </div>	
    </div>
{% endblock %}
